@font-face {
    font-family: Manifont Grotesk;
    src: url("fonts/ManifontGroteskBook.ttf") format("truetype");
}

:root {
    --pico-font-family: Manifont Grotesk;
    --pico-border-radius: 0.2rem;
    --pico-max-width: 480px;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1em;
}

.pyxy-header {
    max-width: var(--pico-max-width);
    font-size: 2em;
}

.header-link {
    text-decoration: none;
}

.links-card {
    font-size: larger;
    text-align: center;
    padding-top: 1.2rem;
}

.no-bottom-margin {
    margin-bottom: 0;
}

#links-container {
    margin-left: auto;
    margin-right: auto;
    padding: var(0.5em);
    max-width: 400px;
}

#blurb {
    font-size: 0.5em;
}